<h1>New Event</h1>
<hr>
<div class="col-md-6">
    <form #newEventForm="ngForm" (ngSubmit)="saveEvent(newEventForm.value)" autocomplete="off" novalidate>
        <div [ngClass]="{'error': newEventForm.controls['eventName']?.invalid && newEventForm.controls['eventName']?.touched}"
             class="form-group">
            <label for="eventName">Event Name:</label>
            <em *ngIf="newEventForm.controls['eventName']?.invalid && (newEventForm.controls['eventName']?.touched)">Required</em>
            <input [(ngModel)]="event.name" class="form-control" id="eventName" name="eventName"
                   placeholder="Name of your event..." required
                   type="text"/>
        </div>
        <div [ngClass]="{'error': newEventForm.controls['eventDate']?.invalid && newEventForm.controls['eventDate']?.touched}"
             class="form-group">
            <label for="eventDate">Event Date:</label>
            <em *ngIf="newEventForm.controls['eventDate']?.invalid && (newEventForm.controls['eventDate']?.touched)">Required</em>
            <input [(ngModel)]="event.date" class="form-control" id="eventDate" name="eventDate"
                   placeholder="format (mm/dd/yyyy)..." required
                   type="text"/>
        </div>
        <div [ngClass]="{'error': newEventForm.controls['eventTime']?.invalid && newEventForm.controls['eventTime']?.touched}"
             class="form-group">
            <label for="eventTime">Event Time:</label>
            <em *ngIf="newEventForm.controls['eventTime']?.invalid && (newEventForm.controls['eventTime']?.touched)">Required</em>
            <input [(ngModel)]="event.time" class="form-control" id="eventTime" name="eventTime"
                   placeholder="start and end time..." required
                   type="text"/>
        </div>
        <div [ngClass]="{'error': newEventForm.controls['eventPrice']?.invalid && newEventForm.controls['eventPrice']?.touched}"
             class="form-group">
            <label for="eventPrice">Event Price:</label>
            <em *ngIf="newEventForm.controls['eventPrice']?.invalid && (newEventForm.controls['eventPrice']?.touched)">Required</em>
            <input [(ngModel)]="event.price" class="form-control" id="eventPrice" name="eventPrice"
                   placeholder="event price..." required
                   type="number"/>
        </div>

        <div ngModelGroup="location" validateLocation>
            <div class="form-group">
                <label for="address">Event Location:</label>
                <input [(ngModel)]="event.location.address" class="form-control" id="address" name="address"
                       placeholder="Address of event..."
                       type="text"/>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <input [(ngModel)]="event.location.city" class="form-control" id="city" name="city"
                           placeholder="City..."
                           type="text"/>
                </div>
                <div class="col-md-6">
                    <input [(ngModel)]="event.location.country" class="form-control" id="country" name="country"
                           placeholder="Country..."
                           type="text"/>
                </div>
            </div>
        </div>

        <div class="form-group">
            <label for="onlineUrl">Online Url:</label>
            <input [(ngModel)]="event.onlineUrl" class="form-control" id="onlineUrl" name="onlineUrl"
                   placeholder="Online Url..."
                   type="text"/>
        </div>
        <div [ngClass]="{'error': newEventForm.controls['imageUrl']?.invalid && newEventForm.controls['imageUrl']?.touched}"
             class="form-group">
            <label for="imageUrl">Image:</label>
            <em *ngIf="newEventForm.controls['imageUrl']?.invalid && newEventForm.controls['imageUrl']?.touched && newEventForm.controls['imageUrl']?.errors?.['required']">Required</em>
            <em *ngIf="newEventForm.controls['imageUrl']?.invalid && newEventForm.controls['imageUrl']?.touched  && newEventForm.controls['imageUrl']?.errors?.['pattern']">Must
                be a png or jpg url</em>
            <input [(ngModel)]="event.imageUrl" class="form-control" id="imageUrl" name="imageUrl"
                   pattern=".*\/.*.(png|jpg)"
                   placeholder="url of image..."
                   required type="text"/>
            <img *ngIf="newEventForm.controls['imageUrl'].invalid" [src]="newEventForm.controls['imageUrl'].value"
                 alt="image"/>
        </div>

        <button [disabled]="newEventForm.invalid" class="btn btn-primary" type="submit">Save</button>
        <button (click)="cancel()" class="btn btn-default" type="button">Cancel
        </button>
    </form>
</div>
